
body{
    padding: 10px;
}

#canvas {
    float : left;
    margin: 10px;
}

#control{
    float: left
}

.labels{
    float: left;
    width: 100px;
}

.inputs{
    float: left;
    width: 100px;
}

input {
    width: 100px;
}
