
body{
    padding: 10px;
}

#canvas {
    float : left;
    margin: 10px;
}

#controls{
    width: 400px;
    float: left
}

input.coords {
    width: 40px;
    margin-right: 10px;
}

.control {
    margin-top: 10px;
    width: 100%;
    float: left;
}

input {
    float: left;
    width: 100px;
}
label {
    float: left;
    width: 100px;
}
